<html>
    <head>
        <tittle>
           
        </tittle>
        <style>

        </style>
    </head>
    <body>
        <center><div>
            <p>
                  <h1>
                       Smart Fashion Recommendation Application
                  </h1>
            </p>
        </div></center>
        <center><div>
            <p1>
                Application Build by using Cloud-Application
            </p1>
        </div></center>
        <center><div>
          <table>
            <thead1>
                <h2>TEAM</h2>
                <tr>
                    PNT2022TMID41254
                </tr>
            </thead1>
            <thead>
                <h2> TEAM MEMBERS</h2>
                <tr>
                    <h4>DILLYBABU M
                    </h4>
                    <H4>
                        GOKUL M
                    </H4>
                    <h4>
                        VINO
                    </h4>
                    <h4>
                        VENKATACHALAPATHI
                    </h4>
                </tr>
            </thead>
            
            

          </table>
        </div></center>
        
    </body>
</html>